[submodule "design_framework"]
	path = design_framework
	url = https://github.com/neiljackson1984/design_framework
[submodule "component1"]
	path = component1
	url = C:/Users/Admin/Desktop/component1
